.main {
	width: calc(100% - 40px);
	padding: 120px 20px;
	background: url("./Book_Lending_Hands.jpg") no-repeat center center/cover;
	text-align: center;
	background-size: cover;
	background-position: center center;
	color: white;
	position: relative;
}

.main::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	left: 0;
	top: 0;
}

.main button {
	padding: 12px 32px;
	border-radius: 5px;
	background: var(--color-blue);
	color: white;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.1rem;
}

.main > * {
	position: relative;
	z-index: 3;
}

@media only screen and (max-width: 768px) {

    .main {
		padding: 90px 20px;
	}

}

@media only screen and (max-width: 480px) {

    .main {
		padding: 150px 20px;
	}

}