.banner {
	width: 100%;
	height: 100%;
	position: relative;
	background: url("./Book_Lending_Hands.jpg") no-repeat center center/cover;
	/* background-color: black; */
	/* opacity: 0.5; */
	/* z-index: 10; */
}
.dark_overlay {
	border: 2px solid #17a2b8;
	height: 400px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	/* background-color: rgba(0, 0, 0, 0.7); */
}

.banner_content {
	color: rgb(247, 247, 247);
	display: flex;
	flex-direction: column;
	font-size: large;
	align-items: center;
	justify-content: center;
	z-index: 20;
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 4vh;
}

.banner_content h3 {
	margin: 0;
	padding: 0.2em;
}
.banner_content h1 {
	margin-bottom: 0;
}
