.main {
	width: 100%;
	height: calc(4rem - 1px);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: white;
	border-bottom: 1px solid #dddddd;
	position: relative;
	z-index: 2;
	box-shadow: 0px 1px 10px -3px rgba(0, 0, 0, 0.1);
}

.wrapper {
	width: calc(100% - 40px);
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
}

.menu {
	margin-left: auto;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu ul li {
	float: left;
}

.menu ul li a {
	text-decoration: none;
	padding: 0 10px;
	color: var(--color-dark-gray);
}
.menu ul li a:hover {
	color: var(--color-blue);
}

.logo a {
	text-decoration: none;
	color: black;
}
